@font-face {
  font-family: "CustomFont";
  src: url("./components/fonts/IRANSansWeb\(FaNum\).ttf");
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("./components/fonts/Vazir-Bold.ttf");
}
@font-face {
  font-family: "Vazir-Light";
  src: url("./components/fonts/Vazir-Light.ttf");
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("./components/fonts/Vazir-Medium.ttf");
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("./components/fonts/Vazir-Thin.ttf");
}
@font-face {
  font-family: "Vazir";
  src: url("./components/fonts/Vazir.ttf");
}
.App {
  display: flex;
  
}
.container{
background: linear-gradient(180deg, #EAEFF1 57.81%, #C5D5CF 100%);
width: 96%;
border-radius: 23px;
margin: 30px auto;

}
.main{
  display: flex;

}
.mainList{
  display: flex;
  flex-direction: column;
}
img{
  width: 168px;
  height: 168px;
  border-radius: 100% 100% 100% 100%;
  /* top: -20px; */
  margin-top:-45px;
  overflow: visible;
  position:absolute;
}
.send{
  background-color: #006341;
  border-radius: 11px;
  color: #FFFFFF;
  width: 100%;
  
  height: 49px;
  border: none;
  /* margin: 0 auto; */
  font-size: 15px;
  font-family:Vazir ;
  
  
}
.nullBasket{
  color:rgb(133, 132, 132) ;
  width: 40%;
  text-align: center;
  margin: 370px auto 0 auto;
  font-family:Vazir-Light ;
}
.border{
  box-sizing: border-box;
  border-bottom: solid;
  width: 40px;
  height: 30px;
  margin: 0 auto;
  
  /* margin-top: 0px;
  margin-bottom: -90px;
margin-left: 900px; */

}
.az{
  width: 10px;
  height: 10px;
  background-color: #636100;
  position: relative;
  top: -7px;
  left: 59px;
  column-gap: 160px;

}
.quantityBox{
  display: flex;
}
.priceBox{
color: #006341;

}