@font-face {
  font-family: "CustomFont";
  src: url("./components/fonts/IRANSansWeb\(FaNum\).ttf");
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("./components/fonts/Vazir-Bold.ttf");
}
@font-face {
  font-family: "Vazir-Light";
  src: url("./components/fonts/Vazir-Light.ttf");
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("./components/fonts/Vazir-Medium.ttf");
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("./components/fonts/Vazir-Thin.ttf");
}
@font-face {
  font-family: "Vazir";
  src: url("./components/fonts/Vazir.ttf");
}
.App {
  display: flex;
}

img {
  width: 168px;
  height: 168px;
  border-radius: 100% 100% 100% 100%;
  margin-top: -45px;
  overflow: visible;
  position: absolute;
}

.border {
  box-sizing: border-box;
  border-bottom: solid;
  width: 40px;
  height: 30px;
  margin: 0 auto;
}

.starbucksLogo {
  width: 70px;
  height: 70px;
  margin-top: -20px;
}
.trademarkLogo {
  width: 11px;
  height: 6px;
  margin-top: 42px;
  margin-left: 0;
}
.basketLogo {
  width: 200px;
  height: 100.33px;
  position: relative;
  top: 200px;
}
.basketLogo2 {
  width: 60px;
  height: 50.33px;
  position: relative;
  top: 181px;
  margin-left: -130px;
}

.SerchIcon {
  width: 40px;
  height: 40px;
  position: relative;
  top: -50px;
  left: 20px;
}

.quantityIcons{
  height: 10px;
  width: 10px;
  position: absolute;
  top:49.5px;
  left: 4.8px;
}

.parent_class:nth-of-type(2),
.parent_class:nth-of-type(5) {
  position: relative;
  top: 70px;
  overflow: visible;
}
/* media queries */
@media screen and (max-width: 1200px){
  img {
    width: 158px;
    height: 158px;
   
  }

}
@media screen and (max-width: 1300px){
  img {
    width: 148px;
    height: 148px;
    
  }

}
@media screen and (max-width: 1035px){
  img {
    width: 128px;
    height: 128px;
    
  }

}
@media screen and (max-width: 1035px){
  img {
    width: 128px;
    height: 128px;
    
  }

}
@media screen and (max-width: 936px){
  

}